.mainDiv {
  text-align: center;
}
.heading {
  font-size: 2rem;
  font-weight: 700;
  color: goldenrod;
}
.todo {
  background-color: black;
  color: white;
}
.addItems input {
  background-color: white;
  border: none;
  border-bottom: 2px solid goldenrod;
  height: 40px;
  width: 250px;
  margin: 20px;
  color: black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
figcaption {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border: none;
  border-radius: 20px;
  height: 50px;
  padding: 5px 20px 5px 20px;
  margin-bottom: 20px;
}
.Btns {
  background-color: white;
  border-color: white;
  width: 25px;
  height: 25px;
  margin-left: 40px;
}
.Btns:hover {
  cursor: pointer;
}
.taskName {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.taskDate {
  display: flex;
  align-items: center;
}
.addBtn {
  background-color: goldenrod;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid goldenrod;
  color: white;
}
.addBtn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}
.todos {
  margin: auto;
  width: 35rem;
}
.logo img {
  height: 200px;
  width: 250px;
}
p {
  color: goldenrod;
  text-align: center;
}
.navigation {
  background-color: goldenrod;
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: row;
  /* margin: auto; */
  width: fit-content;
  border: 2px solid goldenrod;
}
.navigation:hover {
  cursor: pointer;
  background-color: #0f1525;
  color: white;
  border: 2px solid white;
}
.navSec {
  display: flex;
  justify-content: center;
  gap: 80px;
}
